<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homepage</title>
</head>

<body>
    <h1>this is the homepage</h1>
    <h3><%= 1 + 2 %></h3> <!-- this ejs tag will print the o/p of 1+2 -->
    <h3><%= "arpit".toUpperCase() %></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum nihil nemo consequuntur iste eligendi?</p>
    <button>click me</button>
</body>

</html>